html {
  box-sizing: border-box;
}

body {
  font-size: 16px;
}

.gradient-background {
  background-image: linear-gradient(rgb(204, 203, 203), rgb(32, 110, 107));
  background-repeat: no-repeat;
}

header h1 {
  font-family: "Righteous", cursive;
  font-size: 3rem;
  color: white;
  text-align: center;
  max-width: 100%;
  margin-right: 60px;
}

@media screen and (max-width: 1379px) {
  header h1 {
    font-size: 2rem;
  }
  .logo {
    display: none;
  }
}

@media screen and (max-width: 541px) {
  header h1 {
    font-size: 1.5rem;
  }
}

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 130px;
  width: 95%;
  margin: auto;
  background-color: lightseagreen;
  border: 5px solid lightseagreen;
  border-radius: 10px;
}

.logo {
  max-width: 100%;
  max-height: 100%;
  align-self: flex-start;
  flex-shrink: 1;
  margin-right: 100px;
}

ul {
  display: inline-flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  flex-wrap: nowrap;
  justify-content: space-around;
}

li {
  display: inline;
  font-family: "Righteous", cursive;
  font-size: 2rem;
  padding: 15px;
}

li a:link {
  text-decoration: none;
  color: rgb(32, 110, 107);
  border: 5px solid lightseagreen;
  border-radius: 10px;
  padding: 10px;
}

li a:hover {
  border: 5px solid white;
  border-radius: 10px;
}

@media screen and (max-width: 962px) {
  li {
    display: none;
  }

  .menu-icon {
    border: 5px solid white;
    border-radius: 10px;
    padding: 5px;
    margin: 0 20px 15px 0;
  }

  .menu-icon-bars {
    width: 35px;
    height: 5px;
    background-color: rgb(32, 110, 107);
    margin: 6px 0;
  }
}

.mission-statement {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.mission-statement h1 {
  font-family: "Amatic SC", cursive;
  font-size: 3rem;
  color: white;
}

.reviews {
  display: flex;
}

.reviews p {
  font-family: "Amatic SC", cursive;
  font-size: 2rem;
  color: white;
  margin: 50px;
}

.reviews span {
  font-size: 2rem;
}

.checked {
  color: white;
}

@media screen and (max-width: 632px) {
  .reviews span {
    font-size: 0.8rem;
  }
  .reviews p {
    font-size: 1rem;
    margin: 25px;
  }
}

.portfolio h1 {
  font-family: "Righteous", cursive;
  font-size: 3rem;
  text-align: center;
  color: rgb(37, 48, 48);
  margin: 10px;
}

.portfolio h2 {
  font-family: "Righteous", cursive;
  font-size: 1.5rem;
  text-align: center;
  color: rgb(37, 48, 48);
  padding: 0;
  margin: 25px;
}

.portfolio-photos {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: flex-start;
  height: 100%;
  margin-top: 60px;
}

.image-with-text {
  text-align: justify;
  width: 280px;
  border: 3px solid lightseagreen;
  border-radius: 20px;
  margin: 25px;
}

.image-with-text img {
  margin: 0 auto;
  padding: 15px;
  width: 250px;
  height: auto;
  border-radius: 20px;
}

.image-with-text p {
  font-family: "Righteous", cursive;
  font-size: 1rem;
  color: white;
  text-align: center;
  margin: 0 0 10px 0;
}
